@{
    ViewBag.Title = "Home Page";
}

<div class="background">
    <h3>My Shoping List App</h3>
    <p>The user can Add or remove or view the List Items in the Databases</p>
    <h4>Click the Link below and get access to the page for the shopping items</h4>
    <a href="/Items1" class="Link">View Items</a>
</div>
